/*IDs*/
#imgTitle {
    width:800px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
/*Classes*/
.button1 {
    color:white;
    background-color:black;
    border-width:5px;
}
.IL10hr {
    height:450px;
    /*Setup Flex*/
    display:flex;
    flex-flow:column wrap;
    /*Position Items*/
    align-content: center;
    column-gap:35px;
}
.revealSteps {
    font-size:18px;
    font-weight:bold;
}
/*@s*/
@font-face {
    font-family:Trajan Pro Regular;
    src: url("Trajan Pro Regular\\Trajan Pro Regular.ttf");
}
/*Html*/
body {
    font-family:Trajan Pro Regular;
}